body {
	background-color: #dddddd;
}
h1 {
 color: #4aaaa5;
 margin-right:20px;
 font-family: Times, serif;
}
#nmemail {
  padding-left: 20px;
  width: 70%;
  height: 20px;
  border-style: solid;
  border-color:gray;
}
#msg {
  width: 70%;
  height: 300px;
  margin-bottom: 20px;
  border-style: solid;
  border-color:gray;
}

#hrbreak {
	height:2px;
	background: gray;
}
section {
	padding: 20px;
	
}
section.links {
	float:right;
}
#name {
	margin-left: 60px;
	color:white;
	background:#4aaaa5;
	font-size:20px;
	width:12%;
}
img.main {
	float:left;
	width:300px;
	height:200px;
	margin-right:20px;
}
img.lnkpics {
	float:right;
	width:50px;
	height:40px;
	margin-right:20px;
}
img.portfolio  {
	float:left;
	width:150px;
	height:100px;

}

#boutme {
	font-family: arial;
}
#connectbox {
  font-size:20px;
  color:teal;
  background-color:white;
  float:right;
  padding-left: 10px;
  width: 200px;
  height: 120px;
  margin: 10px 10px 10px 10px;
}
footer {
	background: #666666;
	padding: 20px;
	clear: both;
}
